langchain_huggingface
langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
langchain-openai
#chromadb
langchain-text-splitters
pymupdf
sentence_transformers
pydantic
wikipedia
langchain_chroma
langchain_experimental
tabulate
streamlit
uvicorn
fastapi
langserve
langchain_groq
langgraph
duckduckgo-search
duckdb
wikipedia
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
pandas
pinecone
pinecone-client 
pinecone-notebooks
youtube-transcript-api
gensim
transformers[torch]
yfinance
Pillow 
GitPython